.container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.navbar {
    min-height: 10vh;
    display: flex;
}  

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('../public/images/mountains1.jpg');
    background-position: center;
    background-size: cover;
}

.footer {
    min-height: 10vh;
    display: flex;
}