.container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.navbar {
    min-height: 10vh;
    display: flex;
}  

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer {
    min-height: 10vh;
    display: flex;
}