.navbar_container {
    background-color: rgba(0, 0, 0, 0.833);
    width: 100%;
    display: flex;
}

.navbar_container a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
}

.navbar_container a:hover {
    background-color: rgba(64, 64, 64, 0.712);
    transition: 0.4s;
}
